
<style>
	.image_upload span{display:none;margin-left:20px;cursor:pointer;}
	.image_upload span i{margin-right:10px;}
	.banner_image img{width:200px;height:50px;margin-right:20px;margin-bottom:20px;}
</style>

<div class="row">
    <div class="col-lg-6">
        <form role="form" id="bannerForm" enctype="multipart/form-data">
        	<div class="form-group">
	            <label>banner名称：</label>
	            <input class="form-control" name="bannerName" id="bannerName" />
	            <p class="help-block"></p>
	        </div>

	        <div class="form-group" id="bannerType">
                <label>banner类型：</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="bannerType" id="bannerType0" value="0" checked>单张图
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="bannerType" id="bannerType1" value="1">轮播图
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label>对应页面：</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="pageTo" id="pageTo0" value="0" checked>首页
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="pageTo" id="pageTo1" value="1">作品列表页
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label>是否显示</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="isShow" id="isShow0" value="0" checked>不显示
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="isShow" id="isShow1" value="1">显示
                    </label>
                </div>
            </div>

            <div class="form-group image_upload" id="imageUpload">
                <label>图片上传：</label>
                <span>
                	<i class="fa fa-plus-circle"></i>添加新图片
                </span>
                <input type="file" name="bannerImg" />
            </div>

            <button type="button" id="bannerSubmit" class="btn btn-primary">提交</button>
            <button type="reset" id="bannerReset" class="btn btn-default">重置</button>
        </form>
    </div>
</div>
<!-- /.row -->

<script type="text/javascript" data-main="/javascripts/index.js" src="/javascripts/lib/require-min.js"></script>