
<div class="row">
    <div class="col-lg-6">
        <form role="form" id="bannerForm" enctype="multipart/form-data">
            <div class="form-group" id="bannerType">
                <label>个人简介：</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="myInfo" id="myInfo0" value="0" checked>隐藏
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="myInfo" id="myInfo1" value="1">显示
                    </label>
                </div>
            </div>

            <div class="form-group" id="bannerType">
                <label>新闻动态：</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="news" id="news0" value="0" checked>隐藏
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="news" id="news1" value="1">显示
                    </label>
                </div>
            </div>

            <div class="form-group" id="bannerType">
                <label>精彩作品：</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="works" id="works0" value="0" checked>隐藏
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="works" id="works1" value="1">显示
                    </label>
                </div>
            </div>            

            <button type="button" id="showSubmit" class="btn btn-primary">提交</button>
            <button type="button" id="pageBack" class="btn btn-info">返回</button>
        </form>
    </div>
</div>
<!-- /.row -->

<script type="text/javascript" data-main="/javascripts/index.js" src="/javascripts/lib/require-min.js"></script>