<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav" id="menuUl">
        <li class="active">
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#menuIndexUl"><i class="fa fa-fw fa-home"></i> 首页 <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="menuIndexUl" class="collapse">
                <li>
                    <a href="#">banner图</a>
                </li>
                <li>
                    <a href="#">显示模块管理</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#menuUserUl"><i class="fa fa-fw fa-user"></i> 用户 <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="menuUserUl" class="collapse">
                <li>
                    <a href="#">用户列表</a>
                </li>
                <li>
                    <a href="#">添加用户</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#menuWorksUl"><i class="fa fa-fw fa-folder"></i> 作品 <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="menuWorksUl" class="collapse">
                <li>
                    <a href="#">作品列表</a>
                </li>
                <li>
                    <a href="#">添加作品</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#menuStudyUl"><i class="fa fa-fw fa-book"></i> 学习 <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="menuStudyUl" class="collapse">
                <li>
                    <a href="#">文章列表</a>
                </li>
                <li>
                    <a href="#">添加文章</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#menuRecreationUl"><i class="fa fa-fw fa-music"></i> 娱乐 <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="menuRecreationUl" class="collapse">
                <li>
                    <a href="#">电影管理</a>
                </li>
                <li>
                    <a href="#">电视剧管理</a>
                </li>
                <li>
                    <a href="#">图集管理</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#menuNewsUl"><i class="fa fa-fw fa-list-alt"></i> 新闻 <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="menuNewsUl" class="collapse">
                <li>
                    <a href="#">新闻列表</a>
                </li>
                <li>
                    <a href="#">添加新闻</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<script type="text/javascript" data-main="/javascripts/menu.js" src="/javascripts/lib/require-min.js"></script>