<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav" id="menuUl">
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#menuIndexUl"><i class="fa fa-fw fa-home"></i> <span class="page_title">首页</span> <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="menuIndexUl" class="collapse">
                <li class="children">
                    <a href="/banner">banner图</a>
                </li>
                <li class="children">
                    <a href="/index-show">显示模块管理</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#menuUserUl"><i class="fa fa-fw fa-user"></i> <span class="page_title">用户</span> <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="menuUserUl" class="collapse">
                <li class="children">
                    <a href="/user">用户列表</a>
                </li>
                <li class="children">
                    <a href="">添加用户</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#menuWorksUl"><i class="fa fa-fw fa-folder"></i> <span class="page_title">作品</span> <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="menuWorksUl" class="collapse">
                <li class="children">
                    <a href="">作品列表</a>
                </li>
                <li class="children">
                    <a href="">添加作品</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#menuStudyUl"><i class="fa fa-fw fa-book"></i> <span class="page_title">学习</span> <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="menuStudyUl" class="collapse">
                <li class="children">
                    <a href="">文章列表</a>
                </li>
                <li class="children">
                    <a href="">添加文章</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#menuRecreationUl"><i class="fa fa-fw fa-music"></i> <span class="page_title">娱乐</span> <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="menuRecreationUl" class="collapse">
                <li class="children">
                    <a href="">电影管理</a>
                </li>
                <li class="children">
                    <a href="">电视剧管理</a>
                </li>
                <li class="children">
                    <a href="">图集管理</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#menuNewsUl"><i class="fa fa-fw fa-list-alt"></i> <span class="page_title">新闻</span> <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="menuNewsUl" class="collapse">
                <li class="children">
                    <a href="">新闻列表</a>
                </li>
                <li class="children">
                    <a href="">添加新闻</a>
                </li>
            </ul>
        </li>
    </ul>
</div>