
<div class="row">
    <div class="col-lg-12">
        <p><button type="button" class="btn btn-primary" id="addButton">添加新闻消息</button></p>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>名称</th>
                        <th>类型</th>
                        <th>缩略图</th>
                        <th>最后修改时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="recreationList">
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.row -->

<script type="text/javascript" data-main="/javascripts/recreation.js" src="/javascripts/lib/require-min.js"></script>