<div class="row">
    <div class="col-lg-6">
        <form role="form" id="studyForm" enctype="multipart/form-data">
        	<div class="form-group">
	            <label>类型名称：</label>
	            <input class="form-control" name="typeName" id="typeName" />
	            <p class="help-block"></p>
	        </div>

            <button type="button" id="studySubmit" class="btn btn-primary">提交</button>
            <button type="button" id="pageBack" class="btn btn-info">返回</button>
        </form>
    </div>
</div>
<!-- /.row -->

<script type="text/javascript" data-main="/javascripts/study.js" src="/javascripts/lib/require-min.js"></script>